@import "variables.scss";

@mixin set-zero() {
  margin: 0;
  padding: 0;
}
* {
  @include set-zero();
}

nav {
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1.5rem;
  flex-wrap: wrap;
}

.sections {
  vertical-align: middle;
}

.sections a {
  color: inherit;
  text-decoration: none;
}

.sections img {
  vertical-align: middle;
  padding-right: $default-size;
}

.section {
  padding: $default-size * 2;
}

.search-items {
  display: flex;
  position: relative;
}

.search {
  width: 265px;
  height: 38px;
  font-size: 16px;
  padding-left: $default-size;
  border: none;
}

.search-icon {
  position: absolute;
  margin-left: 75%;
  margin-top: 0.2rem;
}

.footer {
  background-color: #121212;
  color: map-get($colors, white);
  text-align: $default-position;
  align-items: $default-position;
  margin-top: 13rem;
  overflow: hidden;
}

.sign-up-title {
  font-size: 16px;
  padding: 3rem 0 $default-size 0;
}

.sign-up {
  width: 403px;
  height: 40px;
  padding: 0.5rem;
  margin: $default-size * 2;
}

.uncut-creations {
  font-size: 28px;
  margin: $default-size * 2;
}

.social-media-tags {
  margin: $default-size * 2;
}

.footer-desc {
  margin: $default-size * 2;
  font-size: 16px;
}

.copyright {
  margin: 5rem 0 $default-size * 2 0;
}

.sign-up-btn {
  width: 150px;
  color: map-get($colors, white);
  background-color: black;
  height: 51px;
  letter-spacing: 0$default-size;
  border: 0;
  cursor: pointer;
}
